body {
  background-color: #ccc;
}

.shopping-card{
  display: flex;
  gap: 30px;

}

.product {
  background-color: aqua;
  padding: 20px;
}

.card {
  background-color: aqua;
  padding: 20px;
}

.product-container {
  padding: 20px;
  background-color: #fff;
  width: 350px;
  margin-bottom: 20px;

}
.product-card {
  /* width: 300px; */
  /* height: 300px; */
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.product-card img {
  width: 150px;
}

.quantity {
  display: flex;
}